.container {
    max-width: 1440px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-backdrop {
    opacity: 0.5;
}

.logo-img {
    width: 200px;
}

.btn-create-visit {
    display: none;
}

.card-desk {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.card {
    width: 20%;
}



